* {
  box-sizing: border-box;
}

button {
  background: #484141;
  padding: 4px 6px;
  color: #d9dfdf;
  border-radius: 4px;
  border: none;
  outline: none;
  opacity: 0.7;
  cursor: pointer;
}

button:hover {
  opacity: 1;
}

.reveal.left-top section {
  text-align: left;
}

.reveal.left-top .slides > section:first-child {
  text-align: center;
}

/* Control Component Style */
.control {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.control > .iconfont {
  font-size: 40px;
  color: #d5d9cf;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
}

.control:hover {
  opacity: 1;
}

/* Menu Component Style */
.menu {
  position: fixed;
  z-index: 2;
  left: 0;
  z-index: 100;
  width: 180px;
  height: 100vh;
  color: #747c7c;
  background: #272e38;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.menu.open {
  transform: translateX(0);
}

.menu .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transform: color 0.3s;
}

.menu .icon-close:hover {
  color: #fff;
}

.menu .detail {
  margin-top: 50px;
}

.menu .detail .tab {
  padding: 20px 20px;
  display: flex;
  text-align: center;
  cursor: pointer;
}

.menu .detail .tab.active {
  color: #fff;
}

.menu .detail .iconfont {
  margin-right: 6px;
}

.menu .content {
  position: absolute;
  z-index: 999;
  left: 180px;
  top: 0;
  width: calc(100vw - 180px);
  height: 100vh;
  background: #22252a;
  padding-bottom: 100px;
  font-size: 14px;
  transform: translateX(calc(100% + 180px));
  transition: transform 0.6s;
  overflow: none;
}

.menu.open .content.active {
  transform: translateX(0);
}

.menu .content .header {
  font-size: 40px;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.menu .content .main {
  padding: 20px;
}

.menu .content textarea {
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 16px;
  background: #20292c;
  color: #77ead6;
  border: none;
  outline: none;
  resize: none;
}

.menu .content button {
  margin-top: 16px;
}

.menu .themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content .themes figure {
  margin-right: 20px;
  margin-top: 10px;
  border: 2px solid transparent;
  padding: 2px;
  cursor: pointer;

  opacity: 0.7;
  transition: opacity 0.3s;
}
.content .themes figure.selected {
  opacity: 1;
  border: 2px solid lightseagreen;
}
.content .themes figure:hover {
  opacity: 1;
}

.menu .themes figcaption {
  padding: 10px;
}

.menu .themes figure img {
  width: 200px;
}

.menu .theme h3 {
  font-size: 16px;
  margin-top: 30px;
}

.menu .theme .transition {
  margin-top: 30px;
}

.menu .theme select {
  height: 20px;
  width: 100px;
  border-radius: 2px;
  margin: 0 12px;
  outline: none;
}

.menu .editor [type="file"] {
  display: none;
}

.menu .editor .upload {
  padding: 10px 0;
  cursor: pointer;
}

.menu .editor label {
  cursor: pointer;
  margin-top: 10px;
}

.menu .editor label:hover {
  color: #f1f1f1;
  opacity: 0.7;
}
